/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5390D9;
  --ifm-color-primary-dark: #5E60CE;
  --ifm-color-primary-darker: #6930C3;
  --ifm-color-primary-darkest: #7400B8;
  --ifm-color-primary-light: #48BFE3;
  --ifm-color-primary-lighter: #72EFDD;
  --ifm-color-primary-lightest: #80FFDB;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #48BFE3;
  --ifm-color-primary-dark: #4EA8DE;
  --ifm-color-primary-darker: #5390D9;
  --ifm-color-primary-darkest: #5E60CE;
  --ifm-color-primary-light: #56CFE1;
  --ifm-color-primary-lighter: #64DFDF;
  --ifm-color-primary-lightest: #72EFDD;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/*[data-theme='dark'] {
  --ifm-color-primary: #48CAE4;
  --ifm-color-primary-dark: #00B4D8;
  --ifm-color-primary-darker: #0096C7;
  --ifm-color-primary-darkest: #0077B6;
  --ifm-color-primary-light: #90E0EF;
  --ifm-color-primary-lighter: #ADE8F4;
  --ifm-color-primary-lightest: #CAF0F8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}*/

/* Search customization */
.DocSearch-Modal {
  width: 90vw !important;
  max-width: 900px !important;
}

.DocSearch-SearchBar {
  width: 100% !important;
}

.DocSearch-Form {
  width: 100% !important;
}

/* Local search plugin customization */
.aa-Autocomplete,
.aa-DetachedFormContainer {
  width: 100% !important;
  max-width: 600px !important;
}

.aa-Form {
  width: 100% !important;
}

.aa-Input {
  width: 100% !important;
  font-size: 16px !important;
  padding: 12px 16px !important;
}

.aa-Panel {
  max-width: 600px !important;
  width: 100% !important;
}

/* Search results container */
.aa-DetachedContainer {
  width: 90vw !important;
  max-width: 700px !important;
}

/* Search button in navbar */
.DocSearch-Button {
  width: 200px !important;
}
